# Auto detect text files and perform LF normalization
* text=auto

*.txt -crlf filter=spabs text eol=lf
*.c -crlf filter=spabs text eol=lf
*.cpp -crlf filter=spabs text eol=lf
*.h -crlf filter=spabs text eol=lf
*.rb -crlf filter=spabs text eol=lf
*.js -crlf filter=spabs text eol=lf
*.css -crlf filter=spabs text eol=lf
*.html -crlf filter=spabs text eol=lf
*.md -crlf filter=spabs text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain


*.png binary
*.jpg binary
*.skp binary
*.so binary
*.bundle binary
*.dll binary
*.dylib binary
